.page{
  background-image: url('../../assets/image/back.png');
}



.head{
  font-family: Pacifico;
}

.animated lightSpeedIn delay-2s{
  font-family: Black And White Picture;
}
.game{
  font-family: Pacifico;
}

